// Paleta de colores
$primary-color: #1d4ed8;   // Azul
$secondary-color: #f3f4f6; // Gris claro
$dark-color: #111827;      // Gris oscuro
$white-color: #ffffff;     // Blanco

// Fuentes
$font-family: 'Arial', sans-serif;
